In [ ]:
while True:
    print("===== OPSI =====")
    print("1. Tambahkan Data")
    print("2. Tampilkan Data")
    print("3. Exit")

    pilihan = input("Pilih menu (1-3): ")
    
    if pilihan == "1":
        nim = input("Masukkan NIM: ") #bila di setting integer di awal, akan error ketika input bukan int
        nama = input("Masukkan Nama: ")
        alamat = input("Masukkan Alamat: ")
        kelas = input("Masukkan Kelas: ").upper()
            
        if nim.isdigit():
            if len(nama) > 5:
                if len(alamat) > 10:
                    if kelas in ["TI23", "TI24"]:
                        with open("dataMahasiswa.txt", "a") as file:
                            file.write(f"\nNIM = {nim}\nNama = {nama}\nAlamat = {alamat}\nKelas = {kelas}\n")
                    else :
                        print("Kelas harus TI23 atau TI24")
                else : 
                    print("Alamat minimal 10 huruf")
            else :
                print("Panjang Nama minimal 5 huruf")
        else :
            print("NIM bukan Numerik")

===== OPSI =====
1. Tambahkan Data
2. Tampilkan Data
3. Exit

Pilih menu (1-3):  1
Masukkan NIM:  20240040186
Masukkan Nama:  Daffa
Masukkan Alamat:  Sukalarang
Masukkan Kelas:  TI24A

Panjang Nama minimal 5 huruf
===== OPSI =====
1. Tambahkan Data
2. Tampilkan Data
3. Exit

Pilih menu (1-3):  2

===== OPSI =====
1. Tambahkan Data
2. Tampilkan Data
3. Exit

Pilih menu (1-3):  2

===== OPSI =====
1. Tambahkan Data
2. Tampilkan Data
3. Exit