In [25]:
# Import pustaka yang dibutuhkan
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Buat data sample
np.random.seed(1)  # Supaya hasil tetap sama

data = pd.DataFrame({
    'Umur': np.random.randint(18, 60, 1000),
    'Pendapatan': np.random.normal(5000000, 1500000, 1000).astype(int),
    'Jenis_Kelamin': np.random.choice(['Pria', 'Wanita'], 1000),
    'Status_Menikah': np.random.choice(['Menikah', 'Belum'], 1000),
    'Jumlah_Anak': np.random.randint(0, 4, 1000),
    'Pendidikan': np.random.choice(['SMA', 'D3', 'S1', 'S2'], 1000),
    'Punya_Rumah': np.random.choice([0, 1], 1000),
    'Lama_Bekerja': np.random.randint(0, 30, 1000),
    'Skor_Kredit': np.random.normal(70, 10, 1000).round(1),
    'Target_Beli': np.random.choice([0, 1], 1000)  # Target klasifikasi
})

# 2. Tampilkan data awal
print("Contoh Data:")
print(data.head())

# 3. Statistik Deskriptif
print("\nStatistik Deskriptif:")
print(data.describe())

# 4. Statistik Kategori
print("\nDistribusi Jenis Kelamin:")
print(data['Jenis_Kelamin'].value_counts())

print("\nDistribusi Status Menikah:")
print(data['Status_Menikah'].value_counts())

print("\nDistribusi Pendidikan:")
print(data['Pendidikan'].value_counts())

Contoh Data:
   Umur  Pendapatan Jenis_Kelamin Status_Menikah  Jumlah_Anak Pendidikan  \
0    55     3949333          Pria          Belum            2        SMA
1    30     5139479          Pria          Belum            1        SMA
2    26     6658853        Wanita        Menikah            3        SMA
3    27     4719439        Wanita          Belum            1         S2
4    29     7838072        Wanita        Menikah            0         S2

   Punya_Rumah  Lama_Bekerja  Skor_Kredit  Target_Beli
0            1             7         63.3            1
1            1            20         70.5            0
2            1             0         82.5            0
3            1            10         88.4            0
4            0            19         82.0            1

Statistik Deskriptif:
              Umur    Pendapatan  Jumlah_Anak  Punya_Rumah  Lama_Bekerja  \
count  1000.000000  1.000000e+03  1000.000000  1000.000000   1000.000000
mean     38.692000  4.998318e+06     1.498000     0.507000     14.373000
std      12.004551  1.508489e+06     1.091415     0.500201      8.685696
min      18.000000  7.616740e+05     0.000000     0.000000      0.000000
25%      29.000000  3.963018e+06     1.000000     0.000000      7.000000
50%      39.000000  4.995096e+06     2.000000     1.000000     14.000000
75%      49.000000  6.009337e+06     2.000000     1.000000     22.000000
max      59.000000  9.493251e+06     3.000000     1.000000     29.000000

       Skor_Kredit  Target_Beli
count  1000.000000  1000.000000
mean     70.837300     0.493000
std      10.076534     0.500201
min      36.600000     0.000000
25%      64.000000     0.000000
50%      70.900000     0.000000
75%      77.500000     1.000000
max     104.100000     1.000000

Distribusi Jenis Kelamin:
Jenis_Kelamin
Pria      500
Wanita    500
Name: count, dtype: int64

Distribusi Status Menikah:
Status_Menikah
Belum      533
Menikah    467
Name: count, dtype: int64

Distribusi Pendidikan:
Pendidikan
S1     263
SMA    249
S2     246
D3     242
Name: count, dtype: int64