<h1>NO 1</h1>
<h4>Buatlah biodata sederhana dengan menggunakan fungsi input(), dan output variabel dengan fungsi format().</h4>

In [2]:
fName = input("Isikan nama depan:")
mName = input("Isikan nama tengah:")
lName = input("Isikan nama belakang:")
kampus = input("Masukkan nama Kampus:")
jurusan = input("Masukkan jurusan anda :")
kelas = input("Masukkan kelas anda:")
print("==================================================================")
print("Biodata Diri : {} {} {}". format(fName,mName,lName))
print("Informasi Mahasiswa : Berkuliah di {} dengan jurusan {} dan berada di kelas {}". format(kampus,jurusan,kelas))

Isikan nama depan: Daffa
Isikan nama tengah: Fauzi
Isikan nama belakang: Aqmar
Masukkan nama Kampus: Universitas Nusa Putra
Masukkan jurusan anda : Teknik Informatika
Masukkan kelas anda: TI24A

==================================================================
Biodata Diri : Daffa Fauzi  Aqmar
Informasi Mahasiswa : Berkuliah di Universitas Nusa Putra  dengan jurusan Teknik Informatika dan berada di kelas TI24A

<h1>NO 2</h1>
<h4>Jika terdapat kalimat UNIVERSITAS NUSA PUTRA SUKABUMI ,buatlah kode program untuk menampilkan output: <br>
a. putra nusa <br>
b. NIVERSITAS NSA PTRA SKABMI <br>
c. SUKABUMI PUTRA NUSA UNIVERSITAS <br>
d. UNPS <br>
e. TAS SAPU BUMI</h4>

In [6]:
kalimat = "UNIVERSITAS NUSA PUTRA SUKABUMI"
perkata = kalimat.split(' ')
print("A.", perkata[2].lower(), perkata[1].lower())
print("B.", kalimat.replace("U", ""))
print("C.", perkata[3], perkata[2], perkata[1], perkata[0])
print("D.", perkata[0][0] + perkata[1][0] + perkata[2][0] + perkata[3][0])
print("E.", perkata[0][8:11], perkata[1][2:4] + perkata[2][0:2], perkata[3][4:8])

A. putra nusa
B. NIVERSITAS NSA PTRA SKABMI
C. SUKABUMI PUTRA NUSA UNIVERSITAS
D. UNPS
E. TAS SAPU BUMI