In [6]:
name = "Dedi"
age = 20
address, province = "Jl. Cibolang","7413412"
scorePhyton = 80.5
isMarried = False

print("Nama :",name)
print("umur :",age)
print("Alamat :",address)
print("Nilai Pemrograman :",scorePhyton)
print("Status Menikah :",isMarried)

Nama : Dedi
umur : 20
Alamat : Jl. Cibolang
Nilai Pemrograman : 80.5
Status Menikah : False

In [10]:
print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePhyton>",type(scorePhyton))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePhyton> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [93]:
#Casting atau Konversi Tipe Data
#Konversi dari String ke (int,float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = float(province)
print(strToInt,strToFloat,strToBool, sep="-")

#Konversi dari int ke (str,float,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool, sep="-")

#Konversi dari float ke (str,int,bool)
floatToStr = str(scorePhyton)
floatToInt = int(scorePhyton)
floatToBool = bool(scorePhyton)
print(floatToStr,floatToInt,floatToBool, sep="-")

#Konversi dari bool ke (int,float,str)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)
print(boolToInt,boolToFloat,boolToStr, sep="-")

7413412-7413412.0-7413412.0
20-20.0-True
80.5-80-True
0-0.0-False

In [20]:
city = "Bandung"
lenCity = len(city)
print(city[0])
print(city[lenCity-1])

B
g

In [95]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377
print("Nilai Desimal: ", desimal)
print("Nilai Desimal dari 0xff: ", hexa)
print("Nilai Desimal dari 0b1010: ", biner)
print("Nilai Desimal dari 0o377: ", octal)
print("===============")
print("Nilai Biner dari : ", desimal, bin(desimal))
print("Nilai Octal dari : ", desimal, oct(desimal))
print("Nilai Hexa dari : ", desimal, hex(desimal))

Nilai Desimal:  200
Nilai Desimal dari 0xff:  255
Nilai Desimal dari 0b1010:  10
Nilai Desimal dari 0o377:  255
===============
Nilai Biner dari :  200 0b11001000
Nilai Octal dari :  200 0o310
Nilai Hexa dari :  200 0xc8

In [8]:
#Tipe data Colection
#List
cities = ["Sukabumi","Bandung","Bogor","Jakarta"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Medan"
print(cities)
print(cities[len(cities)-1][0])
#Tuple
names = ("Andi","Budi","Caca")
print(names)
#names[0] = "Rudi" akan menyebabkan error, karena tuple adalah immutable

studentData = {
    "name" : "Dedi",
    "addres" :{
        "street" : "Bandung",
        "number" : 21,
        "province" : "West Java"
    },
    "age" : 20,
    "isMarried" : True
}
#ListStudent
listStudent = [
    {
        "name" : "Dedi",
        "addres" : {
        "street" : "Bandung",
        "number" : 21,
        "province" : "West Java"
    },
        "hobbies" : "FootBall" , 
        "age" : 23,
        "isMarried" : True
    },
    {
        "name" : "Budi",
        "addres" : {
        "street" : "Bogor",
        "number" : 25,
        "province" : "West Java"
    },
        "age" : 20,
        "isMarried" : False
    }
]
print(studentData)
print(studentData["addres"]["province"])#Wst Java
print(listStudent[1])#Semua data dari Budi
print(listStudent[0] ["hobbies"][1])#FootBall - hobi dedi urutan ke-2
print(listStudent[0]["age"])#23 - umur Dedi

['Sukabumi', 'Bandung', 'Bogor', 'Jakarta']
Sukabumi
Jakarta
['Sukabumi', 'Medan', 'Bogor', 'Jakarta']
J
('Andi', 'Budi', 'Caca')
{'name': 'Dedi', 'addres': {'street': 'Bandung', 'number': 21, 'province': 'West Java'}, 'age': 20, 'isMarried': True}
West Java
{'name': 'Budi', 'addres': {'street': 'Bogor', 'number': 25, 'province': 'West Java'}, 'age': 20, 'isMarried': False}
o
23

In [6]:
#Casting dictionary
list_tuple = [("name","Dika",),("nilai","80",)]
dictStudent = dict(list_tuple)
print(dictStudent)

list_list = [("Buah","Apel"),("Harga","10000")]
dictBuah = dict(list_list)
print(dictBuah)

tuple_tuple = ("name","Dika"),("nilai","80")
dictTuple = dict(tuple_tuple)
print(tuple_tuple)

tuple_list = (["Buah","Apel"],["Harga","10000"])
dictList = dict(tuple_list)
print(tuple_list)

keys = ["nama","age","addres"]
values = ["Adi",20,"Bandung"]
dictData = dict(zip(keys,values))
print(dictData)

{'name': 'Dika', 'nilai': '80'}
{'Buah': 'Apel', 'Harga': '10000'}
(('name', 'Dika'), ('nilai', '80'))
(['Buah', 'Apel'], ['Harga', '10000'])
{'nama': 'Adi', 'age': 20, 'addres': 'Bandung'}